:root {
  --accent: 242, 100, 25;
  --primary-color: #f26419;
  --tertiary-color: #f4cc3a;
  --gradient: linear-gradient(
    90deg,
    var(--tertiary-color),
    20%,
    var(--primary-color)
  );
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui, sans-serif;
  background-color: #f6f6f6;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
body {
  font-family: Arial, sans-serif;
  background-color: #FFDAB9; /* Pêssego, lembrando o verão */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #FFFAF0; /* Creme */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #FF6347; /* Coral, outra cor quente associada ao verão */
  margin-bottom: 20px;
}

blockquote {
  font-size: 24px;
  margin: 20px 0;
  color: #FF4500; /* Laranja-avermelhado */
}

cite {
  display: block;
  font-size: 18px;
  color: #FF8C00; /* Laranja escuro */
}